#project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article{
    margin-bottom: 40px;
}

h5{
    margin: 0;
}
.atf-content{
    width: 100%;
}

.info-project{
    width: 100%;
    display: flex;
    padding-bottom: 25px;
    flex-direction: row;
    flex-wrap: wrap;
}

.left-info{
    width: 40%;
    margin-right: 10%;
}



.left-info ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.left-info ul li{
    font-style: italic;
    color: #444;
    font-size: 13px;
}

.right-info{
    width: 50%;
    font-size: 17px;
    line-height: 25px;
}

.right-info p{
    padding-left: 0;
}

.image-project{
    width: 48%;
    margin-left: .5%;
    margin-right: .5%;
}

